{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
    <div class="create-post">
        <h2>Create Post</h2>
        
        <form action="" method="post" enctype="multipart/form-data">
            <label for="image">Choose an image</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <br>
            <label for="text">Add text / caption</label>
            <br>
            <textarea id="text" name="text" rows="4" cols="50" placeholder="Write a caption..."></textarea>
            <br>
            <button type="submit">Upload Post</button>
        </form>

        {% if image_url %}
            <h3>Preview</h3>
            <div class = "post-card">
                <div class="post-header">@{{ username }}</div>
                <div class="post-image"> <img src="{{ image_url }}" alt="Uploaded image" style="max-width:100%; height:auto;">  
                </div>
                <div class = "post-description"><p><strong>{{ username }}</strong> {{ text }}</p></div>
                <div class ="time">Preview</div>
            </div>
        {% endif %}
        
    </div>
{% endblock%}

 