<html>
    <head>
        
        <title>Login Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <form action="#" method="post">
        <div class="login_content">
            <p class="login_name">Enter Username:</p>
        </div>
        <div class="login_content">    
            <p class="login_box"><input type="text" name="nm" /></p>
        </div>
        <div class="login_content">
            <p class="login_submit"><input type="submit" value="submit" /></p>
        </div>
    </form>
</html>