<html>
    <head>
        
        <title>Login Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="bg-container">
            <span class="float-icon" style="top: 10%; left: 5%;">🏋️‍♂️</span>
            <span class="float-icon" style="top: 40%; right: 10%;">💪</span>
            <span class="float-icon" style="top: 70%; left: 15%;">👟</span>
            <span class="float-icon" style="top: 20%; right: 20%;">🔥</span>
            <span class="float-icon" style="bottom: 10%; right: 5%;">🥤</span>
        </div>
        <form action="#" method="POST">
            <div class="login_name">
                <p class=>Enter Username:</p>
            </div>
            <div>    
                <p class="login_box"><input class="login_box" type="text" name="username" value="{{username if username}}"/></p>
            </div>
            <div class=>
                <p class="login_submit"><input type="submit" value="submit" /></p>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul style="color: red;">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <a class = "create_prof_button" href="{{ url_for('create_profile') }}">Create Profile</a>
    </body>
</html>